{% extends './base.html' %} {% block content %}
<div class="content">
  <div class="main-block">
    <div class="bold green title">Hey, {{ user_name }}!!!</div>
    <div class="text">Today is {{ name_of_birthday_boy }}'s birthday!!!</div>
    <div class="text">Don't forget to wish him/her a happy birthday.</div>
  </div>
  <div class="additional-block">
    <div class="bold green title">Note to the birthday reminder</div>
    <div class="text">{{ descrition }}</div>
  </div>
</div>
{% endblock %}
